# build products of Makefile.PL and make, here and in alien/Alien-Bioinf
blib/
_alien/
Makefile
Makefile.old
MYMETA.*
pm_to_blib
Basic.bs
Basic.c
Basic.o
# dzil build and release products
/.build/
/Bioinf-Basic-*
# what md2pod.pl writes besides the POD in lib/Bioinf/Basic.pm
/read.me.pod
# what examples.pl writes
/phylo.svg
/DEG20010421.aln.fa
/DEG20010421.msa.svg
/view_residues.tab.tex
# LaTeX build products
*.aux
*.log
*.pdf
